{% extends "base.html" %}
{% load static %}
{% block title %}
  Ячейка {{ cells.number }}
{% endblock %}

{% block content %}
  <div class="row align-items-center">
    <div class="col-md-8">
      <h1 class="pb-2 mb-0">Ячейка {{ cells.number }}</h1>
    </div>
    <div class="col-md-2 text-right">
      <a href="{% url 'cells:edit' cells.id %}" class="btn btn-primary">Редактировать ячейку</a>
    </div>
    <div class="col-md-2 text-right">
      <a href="{% url 'cells:delete' cells.id %}" class="btn btn-primary">Удалить ячейку</a>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h2>Последний заказ</h2>
      {% if order %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Клиент: {% if client %}{{ client.FIO }}{% else %} ---{% endif %}</li>
          <li class="list-group-item">Тариф: {% if tariff %}{{ tariff.title }}{% else %} ---{% endif %}</li>
          <li class="list-group-item">Длительность: {{ order.duration }} дней</li>
          <li class="list-group-item">Дата начала: {{ order.start|date:"d.M.y" }}</li>
          <li class="list-group-item">Дата завершения: {{ order.end|date:"d.M.y" }}</li>
          <li class="list-group-item">Расчетная цена: {{ order.prise|floatformat:2 }}</li>
          <li class="list-group-item">Перепись содержимого: {% if order.enumeration %}{{ order.enumeration|slice:"255"|escape }}{% else %} ---{% endif %}</li>
        </ul>
      {% else %}
        <p>Ячейка не имеет заказов.</p>
      {% endif %}
    </div>

    <div class="col-12 col-md-6">
      <h2>Основная информация</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Размер ячейки: {{ cells.size }}</li>
        <li class="list-group-item">Номер ячейки: {{ cells.number }}</li>
      </ul>
    </div>
  </div>
{% endblock %}
